.exception-page {
  padding: 20px 0;
  display: flex;
  align-items: center;
  height: 80%;

  .exception-page-img {
    text-align: center;

    img {
      width: 70%;
      height: auto;
    }
  }

  .exception-page-content {
    flex: auto;

    h1 {
      margin-bottom: 24px;
      color: #434e59;
      font-weight: 600;
      font-size: 72px;
      line-height: 72px;
    }

    .exception-page-desc {
      margin-bottom: 16px;
      color: rgba(0, 0, 0, 0.45);
      font-size: 20px;
      line-height: 28px;
    }
  }
}
