.antd-pro-exception-exception .antd-pro-exception-imgEle {
    float: none;
    margin: 0 auto;
}
.antd-pro-exception-exception .antd-pro-exception-imgBlock {
    padding-right: 0;
    flex: 0 0 50.5%;
}
.page-error {
    margin-bottom: 20px;
}
